@import 'variables'

html
  min-height 100%
  position relative

html body
  margin-bottom 60px
  background-color body_background_color

.navbar.navbar-default
  background-color menu_background_color
  color menu_button_color

.navbar.navbar-default a, .navbar.navbar-default .navbar-nav > li > a
  font-family 'Bitter', serif
  margin-top 15px

.navbar > .container .navbar-brand  
  color #F09D30
  font-family 'Oswald', sans-serif
  font-weight 800
  line-height 46px
  font-size 40px
  margin 0 0 23px 0
  letter-spacing 2px

.navbar-nav > li > a
  font-size 14px

.navbar-default .navbar-nav > .active > a
  font-size 20px

footer
  position absolute
  background-color menu_background_color
  bottom 0
  height 60px
  width 100%

footer a
  color menu_link_color

body > .container
  padding 100px 15px 70px


.container .text-muted
  margin 20px 0
  color menu_text_muted

footer > .container
  padding-right 15px
  padding-left 15px

.login-buttons
  margin-top 12px

#login-buttons .login-display-name
  margin 15px  

@media (max-width: 768px)
  .login-buttons-dropdown-align-
    margin-left 15px
  
  .login-buttons
    margin-top 0px  
